.TilingEditor__input {
  display: block;
  width: 100%;
  min-width: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  text-overflow: ellipsis;
  appearance: none;

  &:focus {
    outline: 0;
  }
}
